# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o
*.out
*.a
*.dll
*.dylib
*.exe

# C code generation output
/generated_bp_model.c

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyQt/GUI specific
*.log
*.db
*.qmlc
*.jlc

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac/Unix
.DS_Store
*.swp
*.swo

# Python environments
.env
.venv
env/
venv/
ENV/

#poetry
poetry.lock
